import(stats)
import(MASS)
import(Matrix)
import(foreach)
import(mlogit)
import(numDeriv)
import(ucminf)

export(misclassGLM)
S3method(vcov, misclassGLM)
S3method(summary, misclassGLM)
S3method(print, summary.misclassGLM)
S3method(predict, misclassGLM)
export(mfx.misclassGLM)
export(boot.misclassGLM)
export(simulate_GLM_dataset)

export(misclassMlogit)
S3method(vcov, misclassMlogit)
S3method(summary, misclassMlogit)
S3method(print, summary.misclassMlogit)
S3method(predict, misclassMlogit)
export(mfx.misclassMlogit)
export(boot.misclassMlogit)
export(simulate_mlogit_dataset)

useDynLib(misclassGLM, .registration = TRUE)
